{% extends 'base.html.twig' %}

{% block title %}Edit TeamTask{% endblock %}

{% block body %}
    <h1>Edit TeamTask</h1>

    {{ include('team_task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_team_task_index') }}">back to list</a>

    {{ include('team_task/_delete_form.html.twig') }}
{% endblock %}
