{% extends 'base.html.twig' %}

{% block title %}New TeamTask{% endblock %}

{% block body %}
    <h1>Create new TeamTask</h1>

    {{ include('team_task/_form.html.twig') }}

    <a href="{{ path('app_team_task_index') }}">back to list</a>
{% endblock %}
