{# filepath: /c:/Users/najma/Documents/B2/php-Symfony/Symfony/Ymmersions/templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to your dashboard!</h1>
{% endblock %}