{% extends 'base.html.twig' %}

{% block title %}Amis{% endblock %}

{% block body %}
    <h1>{{ slug | replace({'-': ' '}) | capitalize }}</h1>
    <p>Nom : {{ person.firstname }} {{ person.lastname | upper }}</p>
{% endblock %}
